body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: bisque;
}
*{
    margin: 0;
    padding: 0;
}
#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    margin: 1rem auto;
    background:url(bg.jpg) ;
    background-size: contain;
    overflow: hidden;
}
#bluecar{
    height: 100px;
    width: 130px;
    /* background-color: black; */
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 1s linear  infinite  ;

}
#bluecar img{
    height: 100px;
}
@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top: 501px;
    }
    
}
#usercar{
    height: 100px;
    width: 130px;
    /* background-color: red; */
    position: relative;
    top: 250px;
    left: 130px;
    text-align: center;
}
#usercar img{
    height: 100px;
}
#btn{
    background-color: tomato;
    border: 1px solid brown ;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    height: 20%;
    width: 40%;
    color: aliceblue;
}
#score{
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #481100;
}
#result{
    height: fit-content;
    padding: 1rem;
    width: 400px;
    background-color: rgb(227, 145, 145);
    margin: 1rem auto;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    display: none; 
    margin: 0 auto;
}